body {
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/Foxy3049/foxygaems/main/img/FoxyOS%20background.png");
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    }
