body {
    height: 100vh;
    background-image: url("https://github.com/Foxy3049/foxygaems/blob/main/img/FoxyOS%20background%20(1).png?raw=true");
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    }
